In [1]:
import pandas as pd
from sqlalchemy import create_engine
import

In [6]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Pulmonary#2019@localhost:5432/pets_db')
connection = engine.connect()

In [ ]:
engine = create_engine(f)

In [4]:
!pip install psycopg2

Collecting psycopg2
  Downloading https://files.pythonhosted.org/packages/3b/b4/b6db75663e1c73bb6190cbcbb02f94a36c574b813a353446087cbdf43712/psycopg2-2.8.3-cp37-cp37m-win_amd64.whl (1.1MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.3

In [37]:
people_table = connection.execute("SELECT * FROM people")
people_table_df = pd.DataFrame(people_table, columns=[x.name for x in people_table.cursor.description])
people_table_df = people_table_df.reindex(people_table_df.id)
people_table_df.head()

     id      name  social_security address_id
id
1   2.0     Marge      222222222.0       None
2   3.0      Lisa      333333333.0       None
3   4.0      Bart      444444444.0       None
4   5.0    Maggie      555555555.0       None
5   6.0  Sherlock      666666666.0       None

In [23]:
c = people_table.cursor

In [25]:
c.description

(Column(name='id', type_code=23),
 Column(name='name', type_code=1043),
 Column(name='social_security', type_code=23),
 Column(name='address_id', type_code=23))